@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-1.5 px-3 rounded-md cursor-pointer text-sm transition-all text-white duration-300;
  }

  .primary-btn {
    @apply bg-indigo-500 btn hover:bg-indigo-500/90;
  }

  .secondary-btn {
    @apply bg-orange-500 btn hover:bg-orange-500/90;
  }
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  background-color: #f0f0f0;
}

video {
  width: 100%;
  display: block;
}

/* Hide default captions since we're using custom ones */
video::cue {
  display: none;
}

.custom-captions-container {
  position: absolute;
  bottom: 70px;
  /* Position above video controls */
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  /* Allow clicks to pass through */
  transition: opacity 0.3s ease;
}

.custom-captions-text {
  display: inline-block;
  color: white;
  font-size: 26px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  font-family: 'Plus Jakarta Sans', monospace;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 4px;
  max-width: 80%;
  margin: 0 auto;
}

.captions-hidden {
  opacity: 0;
}