@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-1.5 px-3 rounded-md cursor-pointer text-sm transition-all text-white duration-300;
  }

  .primary-btn {
    @apply bg-indigo-500 btn hover:bg-indigo-500/90;
  }

  .secondary-btn {
    @apply bg-orange-500 btn hover:bg-orange-500/90;
  }
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  background-color: #f0f0f0;
}

video {
  width: 100%;
  display: block;
  max-height: calc(100vh - 100px);
}

video::cue {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

video::-webkit-media-text-track-display {
  display: none !important;
}

video::-webkit-media-text-track-container {
  opacity: 0 !important;
  visibility: hidden !important;
}

.custom-captions-container {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.3s ease;
  padding: 4px 0;
}

.custom-captions-text {
  display: inline-block;
  color: white;
  font-size: 26px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  font-family: monospace;
  white-space: pre-wrap;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.3;
}

.custom-captions-container.captions-hidden {
  display: none;
}

.captions-hidden {
  opacity: 0;
}

.hidden {
  display: none;
}